body{
  font-family: Arial, Verdana, sans-serif;
  font-size:12px;
  background-color:white;
}

button.btn_icon{
  display: flex;
  width:50px;
  height:50px;
  margin:10px;
  border:0;
  outline:0;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0);
}
.icon{
  font-size:25px;
  margin:auto;
  transition:0.1s ease-in-out;
}
.icon:hover{
  color:#aaa;
}

a:visited{
  color:inherit;
}
a:active{
  color:inherit;
}

/*page header*/
header.page_header{
  display: flex;
  justify-content: space-between;
  height:60px;
  position:relative;
  margin:-10px;
  margin-top:-10px;
  align-items:center;

  color:#000000;
  background-color:white;

  z-index:1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

header.page_header > button{

}

header.page_header > h1{
  display:flex;
  font-size:200%;
  color:#000000;
  font-weight:bold;
}
header.page_header > h1 > a:link{
  color:black;
  text-decoration:none;
}
header.page_header > h1 > a:hover{
  color:black;
}

/*menu*/
div#menu_container{
  height:100%;
  width:0;
  position:fixed;
  z-index:2;
  top:0;
  left:0;
  background-color:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  overflow-x:hidden;
  transition:0.5s ease-in-out;
  padding-top:60px;
}

ul, li{
  list-style:none;
  margin: 0 auto;
  padding: 0;
}

div#menu_container > ul{
  padding: 10px 0;
  height: auto;
}
div#menu_container > ul:nth-child(2){
  border-bottom: 2px solid black;
}
div#menu_container > ul > li{
  display:block;
  font-size: 13px;
  font-weight:bold;
  letter-spacing:0.12em;
  line-height:39px;
}
div#menu_container > ul > li:nth-last-child(n+2){
  border-bottom: 1px solid #EDEDED;
}

div#menu_container ul:nth-child(2) > li a{
  padding: 8px 8px 8px 32px;
	font-size: 20px;
  color:black;
  display:block;
  transition: 0.2s ease-in-out;
}

div#menu_container ul:nth-child(3) > li a{
  padding: 8px 8px 8px 32px;
	font-size: 15px;
  display: block;
  color:black;
  transition: 0.2s ease-in-out;
}

div#menu_container ul li a:link{
  color:black;
  text-decoration:none;
}
div#menu_container ul li a:hover{
  color:#aaa;
}

div#menu_container > button#btn_menu_close {
	position: absolute;
	top: 0;
	right: 25px;
	margin-left: 50px;
}

/*section*/
div#ask_wrap > section{
  font-size:1.3em;
  width:98%;
  border:1px #000000 solid;
  text-align:left;
  padding:5px;
  margin:0px;
  background-color:white;
  display:block;
}
