body{
  font-family: Arial, Verdana, sans-serif;
  font-size:12px;
  background-color:white;
}

header.page_header{
  display: flex;
  justify-content: space-between;
  height:50px;
  align-items:center;
  color:#000000;
  background-color:#eeeeee;
  z-index:2;
}
header.page_header > button.btn_menu{
  display: flex;
  width:40px;
  height:40px;
  border:1px;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0);
}
.fa-bars{
  margin:auto;
  font-size:20px;
}

}
header.page_header > h1{
  display:flex;
  font-size:200%;
  color:#000000;
  font-weight:bold;

}
header.page_header > .user-menu-dropdown > button{
  display: flex;
  width:40px;
  height:40px;
  border:1px;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0);
}
.fa-user-circle{
  margin:auto;
  font-size:20px;
}

div#ask_wrap > section{
  font-size:1.3em;
  width:98%;
  border:1px #000000 solid;
  text-align:left;
  padding:5px;
  margin:0px;
  background-color:white;
  display:block;
}
